.key p {
  margin: 0;
}

.key {
  display: block;
  height: 4em;
  width: 4em;

  margin: 2px;
  padding: 0;

  border-radius: 8px;
  border: 0px solid transparent;
  
  transition: border-width 0.2s, border-color 0.2s;

  font-size: 12px;
  font-weight: 500;
}


.black {
  background-color: #1a1a1a;
  color: #646cff;
}

.white {
  background-color: #262a7e;
  color: #8a90ff;
}
