.key p {
  margin: 0;
}

.key {
  display: block;
  height: 3rem;
  width: 3rem;

  margin: 2px;
  padding: 0;

  border-color: var(--color1);
  border-radius: 8px;
  border-width: 0;
  
  transition: border-width 0.2s, border-color 0.2s;

  font-size: 12px;
  font-weight: 500;
}


.black {
  background-color: var(--color3);
  color: white;
}

.white {
  background-color: var(--color2);
  color: #ddd;
}
