.settings button {
  margin: 10px auto;
  padding: 15px 20px;

  background-color: #000;

  border-radius: 8px;
  border: 0px solid transparent;

  color: #646cff;
  font-size: 12px;
  font-weight: 500;
}